{% extends "base.html" %}

{% block topnav %}
{% include "nav/topnav.html" %}
{% endblock %}

{% block leftnav %}
{% include "nav/leftnav.html" %}
{% endblock %}

{% block body %}
      <div id="calendar">
        <i class="fa fa-spinner fa-spin fa-5x"></i> 
      </div>
{% endblock %}

{# no footer block yet #}

{% block postcontainer %}
    <script src="static/module.js" type="text/javascript"></script>
      {% verbatim %}
    <script id="calendarTemplate" type="text/template">
      {{#events}}
      <div class="date">{{#date}}{{time}}{{/date}}</div>
      <div class="title">{{name}}</div>
      <div class="event">
        <div class="details">
          <address>
            {{venue.name}}
            {{vent.venue.address_1}}
            {{venue.city}}
            {{venue.state}}
            {{venue.zip}}
          </address>
        </div>
        <div class="description">
          {{{description}}}
        </div>
      </div>
      {{/events}}
    </script>
      {% endverbatim %}
{% endblock %}
