body {
  color: #748189;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
a {
  color: #748189;
  text-decoration: none;
}
a:hover {
  color: #222;
}
address {
  font-style: normal;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}
#calendar {
  float: left;
  margin-top: 25px;
  width: 80%;
}
#calendar a {
  color: #6d92d1;
  text-decoration: underline;
}
.date {
  border-bottom-right-radius: 30px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: left;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 24%;
}
.event {
  border-bottom-left-radius: 30px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  clear: both;
  float: left;
  height: auto;
  margin-left: -1px;
  padding: 20px;
  width: 81%;
}
.description {
  float: left;
}
.title {
  float: left;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.details {
  clear: both;
  float: left;
  height: auto;
  margin-left: -1px;
  padding: 20px;
  width: 81%;
}
#footer {
  padding-top: 15px;
  clear: both;
  text-align: center;
}
.nav {
  list-style-type: none;
  padding-right: 40px;
}
#left-nav {
  float: left;
  width: 10%;
}
#left-nav .nav {
  padding-left: 0;
}
#left-nav .nav li a {
  line-height: 2em;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 3px;
}
#top-nav {
  height: 60px;
  border-bottom: 1px solid #e7e7e7;
}
#top-nav .nav {
  float: right;
  margin-right: -15px;
}
#top-nav .nav li {
  float: left;
  text-align: center;
}
#top-nav .nav li a {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-transform: capitalize;
}
