body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#calendar {
    width: 80%;
    float: left;
    margin-top: 25px;
}

.date {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 30px;
    height: 40px;
    width: 21%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
}

.event {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 30px;
    height: auto;
    width: 81%;
    float: left;
    margin-left: -1px;
    clear: both;
    padding: 20px;
}

.description {
    float: left;
}

.title {
    height: 40px;
    width: 50%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    font-weight: bold;
}

.details {
    height: auto;
    width: 81%;
    float: left;
    margin-left: -1px;
    clear: both;
    padding: 20px;
}
